/* variables generales*/

:root {
    /* bg colors */
    --main-color: black;
    --my-fondo-documento: rgb(255, 255, 255); 
    --nav-fondo:  rgb(255, 255, 255);
    --fondo-sec2:  rgb(236, 236, 236);
  
    /* Texto colores */
    --text-color-titulo:  rgb(0, 0, 0); 
    --text-documento: #000000;
    --text-nav-blanco: #f3f4f6;
    --text-nav-texto:  rgb(0, 0, 0); 
    /* Decoracion */
   
  }
 
.pag_grid {
    display: grid;
    grid-template-areas: 
        "nav nav nav"
        "producto producto producto"
        "beneficios beneficios beneficios"
        "servicio servicio servicio"
        "contacto contacto contacto"
        "footer footer footer";
    grid-template-rows: 60px 2fr 4fr 2fr 2fr 100px;
    grid-template-columns: 20% 60% 20%;


}
* { 
    /*border: 1px solid rgb(255, 0, 0);*/
    font-family: 'Adobe Gothic Std B', Arial, Helvetica, sans-serif;
    list-style-type: none;

}

.titulopag h1 {
    color: var(--text-color-titulo);
    font-family: "Bodoni MT Black" ,'Adobe Gothic Std B';
    font-size: 45px;
    background: linear-gradient(to top, #000000, #da3232);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    padding-right: 10px;
    }

.titulopag a {
    color: blue;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(241,40,40,1) 100%);
    width: 138px;
    padding: 8px 0px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;

}
.nav {
        grid-area: nav;
        display: grid;  
        position:fixed;
        top:0;
        width:100%;
        height: 82px;
        background: rgb(241,40,40);
        background: linear-gradient(90deg, rgba(241,40,40,1) 0%, rgba(255,255,255,1) 50%, rgba(241,40,40,1) 100%);
        /*background-color: var(--nav-fondo);*/

}
nav:hover {
    background-color: transparent;
    /*background-color: rgb(0, 0, 0, .5);
    opaciodad al fondo cuando pasa el mouse*/

}
body {
    background: var(--my-fondo-documento);
    color: var(--text-documento);
}
.producto {
    grid-area: producto;
    /*
    display: grid;
    justify-content: center;  
    align-items: center;
      */ 
    padding-bottom: 120px;
    padding-top: 80px;
    border-bottom: solid 1px black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    
    /*align-items: center; */
}

.servicio {
    grid-area: servicio;

}
.beneficios {
    grid-area:  beneficios;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px black;
}
.beneficios p {
    font-family: 'Adobe Gothic Std B';
    font-size: 20px;
    color: var(--text-nav-texto );
    width: 500px;
    text-align: center;
   
}

.contacto {
    grid-area: contacto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #000000;

}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: end;

}
.nav_menu {
    display: flex;
    justify-content: center;

    
}
.navbar-list {
    display: flex;
    align-items: center;
    gap: 15px;

    

}

.navbar-list a,.pers-list a {
    font-family: 'Adobe Gothic Std B';
    font-size: 22px;
    color: var(--text-nav-texto );
  

}

.info-cards-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;
}
.contacto{
    display: flex;
    justify-content: center;
}

.contacto-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redes {
    display: flex;
    justify-content: center;
    
}
.redes img {
    height: 45px;
    width: 50px;
}

#menu-toggle, #pers-toggle {
    display: none;
} 
.pers-label {
    display: flex;
    order: 2;
    cursor: pointer;
}
.pers-list{
    position: absolute;
    border: solid #000000;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(241,40,40,1) 100%);
    top: 65px;
    left: 20%;
    right: 10%;
    width: 50%;
    flex-direction: column;
    border-top: none;
    border-radius: 0px 0px 15px 15px;
    align-items: center;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    display: none;

}

#pers-toggle:checked  + .pers-list {
    display: flex;
    justify-content:end; 
    
    }

.card-producto img{

    height: 400px;
    width: 500px;

}


p.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 6vw;
    bottom: 8vw;
	right: 4vw;
	width: 800;
	height: 600;


}
.enviar {
    display: flex;
    justify-content: end;
}
.hero-card {
    width: 300px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(241,40,40,1) 100%);
    
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

@keyframes translateX {
    0% {
      transform: translateX(-40%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .titulopag {
    animation: translateX 2s;
/*  cambio color y tamaño*/
    transition-property: all;
    transition-duration: 1s;
    cursor: pointer;

  }
  .titulopag h1:hover {
    font-size: 50px;
    background: linear-gradient(to top,#da3232, #000000);
    background-clip: text;  
    color: transparent;
    -webkit-background-clip: text;
    transition-property: all;
    transition-duration: 1s;
  }
  

.pedircontacto_ {
    border: solid 2px;
    border-radius: 10px;
    padding: 20px;
    width: 210px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(241,40,40,1) 100%);
    justify-content: center;

}
.pedircontacto_ textarea {
    width:100%;  
    word-wrap: break-word;

}

.titulopag .elemento-button {
    font-family: "Mulish", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.8px;
    background-color: #F43627;
    border-radius: 8px 8px 8px 8px;
    padding: 18px 70px 18px 70px;
}

.info-card p {
        border: #da3232;
        border-radius: 5px;
        gap: 10px;
        left: 0;
        width: 100%;
        padding: 10px 16px;
        color: #0f0d0d;
        font-size: 1.1em;
        line-height: 1.6em;
        margin: 0;
        border-radius: 10px;
        

   }
   .info-card {
        background:#da3232;
        width: 300px;
        display: inline-block;
        margin: auto;
        border-radius: $border-radius-size + 5;
        gap: 5px;
        text-align: center;
        box-shadow: -1px 15px 30px -12px black;
        margin: 10px;

 }
 .info-card img {
    border-radius: 10px;
 }

 .titulopag {
    flex-shrink: 4;
 }
 .hero-card {
    flex-shrink: 4;
 }
 

  