/* Tablet */
@media (max-width: 1050px) {
    .info-cards-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
     }

     #hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .producto {
        flex-direction: column;

    }    
}
/* celus */

@media (max-width: 615px) {

    .navbar-list {
        position: absolute;
        top: 65px;
        left: 5%;
        right: 5%;
        width: 80%;
        flex-direction: column;
        border: solid #000000;
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(241,40,40,1) 100%);
               
        border-top: none;
        border-radius: 0px 0px 15px 15px;
        align-items: center;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
        
    }
    .contacto {
        display: flex;
        flex-direction: column;

    }
    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
    }

    .menu-label img {
        height: 50px;
        width: 55px;
    }
        #menu-toggle:checked + .navbar-list {
       /* background-color:rgba(21,0,179,1);    */
        display: flex;
    }
    h1{
        font-size: 30px;
    
    }
}
